*{
    padding: 0;
    margin: 0;
    border: 0;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix{
    *zoom: 1;
}

body{
    font-size: 13px;
    font-family: 微软雅黑;

}
#swapper{
    width: 1400px;
    height: 998px;
    margin: 0 auto;
    background: url("img/图层1-1.png");
}

#top{
    width: 1400px;
    height: 114px;
    position: relative;
    background: url("img/图层7.jpg") no-repeat scroll 0 0;
    overflow: hidden;
}

#topGf{
    width: 203px;
    height: 20px;
    float: right;
    padding-right: 242px;
    background: url("img/形状1.jpg") no-repeat scroll 0 0;
    color: #ffffff;

}

#topGf a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 22px;
    font-size: 12px;

}
.GFa1{
    margin-left: -18px;
}
#topLeft{
    width: 277px;
    height: 85px;
    float: left;
    padding-left: 231px;
    padding-top: 35px;
}
#topRight{
    width: 600px;
    height: 29px;
    float: left;
    margin-left: 47px;
    padding-top: 53px;
}
#topRight li{
    list-style: none;
    float: left;
    font-size: 13px;
    padding-left: 21px;
}


#topRight a:before{
    content: url("img/图层12副本5.png");
}

#topRight a {
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}
#a4{
    padding-right: 1px;
    background:#e74d0a;
    border-radius: 50px;
}

#content{
    width: 1400px;
    height: 500px;
    float: left;
}
#contentLeft{
    float: left;
    padding-top: 231px;
    padding-left: 156px;
}
#conntentMid{
    float: left;
}
#contentRight{
    float: left;
    padding-top: 231px;
}

#bottom{
    position: relative;
    width: 973px;
    height: 323px;
    background: url("img/形状5副本.jpg") no-repeat scroll 0 0;
    float: left;
    left: 190px;

}

#botTitle{
    width: 970px;
    height: 46px;
    padding-top: 22px;
    background: url("img/形状5副本2.png") no-repeat scroll 0 0;

}

#botTitle p{
    padding-left: 120px;
}
#botTitle p:before{
    content: url("img/形状7副本.png") ;
}
#botTitle span{
    color: #e74d0a;
}
#botLeft{
    width: 242px;
    height: 258px;
    float: left;
}
#leftTop{
    float: left;
    padding-left: 30px;
}
#leftTop p{
    font-size: 15px;
    color: #e74d0a;
}
#leftTop p:before{
    content: url("img/Shape18.png");
}

#leftTop span{
    color: #26a02a;
    margin-left: 5px;
}
#leftMid{
    width: 242px;
    height: 193px;
    float: left;
    padding-left: 32px;
}

#botMid{
    width: 390px;
    height: 258px;
    float: left;
    margin-left: 50px;
    background: url("img/图层100.png") no-repeat;
}
#midTop{
    width: 390px;
    height: 23px;
    float: left;
    margin-top: -7px;
    margin-bottom: 20px;
}
#midTop p{
    font-size: 15px;
    color: #e74d0a;
}
#midTop p:before{
    content: url("img/Shape4.jpg") ;
}
#midTop span{
    color: #26a02a;
}
#midMid{
    width: 390px;
    height: 90px;
    float: left;
}
#midMid img{
    width: 108px;
    height: 74px;
}

#midBot{
    width: 390px;
    height: 106px;
    float: left;
    margin-top: 5px;
}

#midBot li{
    list-style: none;
}
#midBot li:before{
    content: url("img/图层12副本5.png");
}
#midBot a{
    text-decoration: none;
    color: #000000;
    line-height: 20px;
}
#midBot a:hover{
    color: #e74d0a;
}

#botRight{
    width: 280px;
    height: 258px;
    float: left;
    margin-left: 10px;
}
#rightTop{
    width: 280px;
    height: 23px;
    float: left;
    margin-top: -25px;
    margin-bottom: 20px;
}
#rightTop p{
    font-size: 15px;
    color: #e74d0a;
}
#rightTop:before{
    content: url("img/Shape5.png");
}
#rightTop span{
    color: #26a02a;
    text-transform: uppercase;
}

#rightMid{
    width: 280px;
    height: 132px;
    float: left;
    margin-top: 15px;
}
#rightBot{
    width: 280px;
    height: 40px;
    float: left;
    margin-top: 10px;
}
#rightBot li{
    list-style: none;
}
#rightBot li:before {
    content: url("img/图层12副本5.png");
}
#rightBot a{
    text-decoration: none;
    color: #000000;
    line-height: 20px;
}
#rightBot a:hover{
    color: #e74d0a;
}

#footer{
    width: 973px;
    height: 40px;
    float: left;
    margin-left:190px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    background: #deaf3b no-repeat ;
    border-radius: 20px 20px 0 0;
}